@font-face {
    font-family: gotham;
    src: url(fonts/Gotham/Gotham\ Ultra.otf);
    font-weight: 900;
}
@font-face {
    font-family: gotham;
    src: url(fonts/Gotham/Gotham\ Black.otf);
    font-weight: 800;
}
@font-face {
    font-family: gotham;
    src: url(fonts/Gotham/Gotham\ Regular.otf);
    font-weight: 700;
}
@font-face {
    font-family: gotham;
    src: url(fonts/Gotham/Gotham\ Bold.otf);
    font-weight: 600;
}
@font-face {
    font-family: gotham;
    src: url(fonts/Gotham/Gotham\ Pro\ Bold.ttf);
    font-weight: 500;
}
@font-face {
    font-family: gotham;
    src: url(fonts/Gotham/Gotham\ Medium.otf);
    font-weight: 400;
}
@font-face {
    font-family: gotham;
    src: url(fonts/Gotham/Gotham\ Book.otf);
    font-weight: 300;
}
@font-face {
    font-family: gotham;
    src: url(fonts/Gotham/Gotham\ Light.otf);
    font-weight: 200;
}
@font-face {
    font-family: gotham;
    src: url(fonts/Gotham/Gotham\ Thin.otf);
    font-weight: 100;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gotham;
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}
.navbar-container{
    width: 100%;
    height: 72px;
    background-color: #212121; 
}
.navbar{
    max-width: 1276px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo-link{
    height: 100%;
    width: 72px;
}
.nav-logo-link svg{
    height: 100%;
    width: 100%;
}
.nav-menu{
    height: 100%;
    display: flex;
}
.nav-item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    opacity: 0.7;
    padding: 0 10px;
    cursor: pointer;
}
.nav-item:hover{
    transition: all 100ms ease-in-out;
    opacity: 1;
}
.nav-btn-item{
    padding: 0;
}
.nav-item > svg{
    width: 25px;
    fill: white;
    padding: 10px;
    box-sizing: content-box;
}
#nav-lang > svg{
    padding: 6px;
    border-radius: 50%;
}
#nav-lang > svg:hover{
    background-color: rgb(70, 70, 70);
}
.highlight-container{
    background-color: #212121;
    width: 100%;
}
.highlight{
    max-width: 1276px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 0px 90px 0;
}
.highlight-heading{
    color: white;
    font-size:42px;
    padding-right: 450px;
    margin-bottom: 15px;
}
.highlight-para{
    color: white;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 35px;
}
.tools-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 50px;
}
.tool-item{
    padding-right: 100px;
}
.tool-item-img{
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
}
.tool-item:nth-child(4) > .tool-item-img{
    width: 43px;
    height: 43px;
}
.tool-item-heading{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
.tool-item-para{
    color: white;
    line-height: 28px;
    letter-spacing: 0px;
    word-spacing: 1.5px;
    font-weight: 100;
    opacity: 0.7;
    margin-bottom: 15px;
}
.tool-item-link{
    color: #4ca6ff;
    font-weight: 200;
}
.products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
}
.product{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    border-radius: 20px;
}
.team-city 
.product-logo-img{
    width: 60px;
    height: 60px;
}
.team-city-container{
    position: relative;
    grid-column: 1/3;
    grid-row: 1/3;
    background: 
    url(images/teamcity-tile-bg_default.svg),
    black;
    background-repeat: no-repeat;
    background-position: 0px 0px ;
    background-size: cover;
    padding: 45px;
    border: none;
    border-radius: 20px;
}
.team-city{
    background: transparent;
}
.team-city .product-logo{
    margin-bottom: 40px;
}
.team-city .product-heading{
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 30px;
}
.team-city .product-para{
    font-size: 30px;
    font-weight: 200;
    line-height: 40px;
    margin-bottom: 40px;
}
.team-city .product-link{
    display: inline-block;
    padding: 15px 30px;
    color: black;
    font-weight: 200;
    font-size: 14px;
    background-color: white;
    border-radius: 50px;
    transition: all 100ms ease-in-out;
}
.team-city .product-link:hover{
    background-color: rgba(255, 255, 255, 0.6);
}
.intellij{
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 30px;
    background: 
    linear-gradient(45deg,#010002,#450e7e);
}
.intellij .product-logo,
.code-with-me .product-logo{
    margin-bottom: 10px;
}
.intellij .product-logo-img,
.code-with-me .product-logo-img{
    width: 48px;
    height: 48px;
    margin-right: 10px;
}
.intellij .product-para{
    opacity: 0.7;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.intellij .product-heading{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.intellij .product-btn,
.code-with-me .product-btn{
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.intellij .product-link,
.code-with-me .product-link{
    flex-grow: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #fff;
    transition: all 100ms ease-in-out;
}
.intellij .product-link:hover,
.code-with-me .product-link:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.code-with-me{
    background: 
    linear-gradient(45deg,#6c58ff,#3ee469);
    padding: 30px;
    grid-column: 3/4;
    grid-row: 2/3;
}
.code-with-me .product-heading{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
}
.code-with-me .product-para{
    font-weight: 200;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
}
.feature-container{
    width: 100%;
}
.feature-content{
    max-width: 1276px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 340px 80px 0;
}
.feature-first-para,
.feature-second-para{
    color: #212121;
    font-size: 30px;
    font-weight: 200;
    line-height: 40px;
}
.feature-first-para,
.feature-second-para{
    margin-bottom: 20px;
}
.feature-first-para a{
    color: #1285f8;
}
.feature-platform{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100px;
}
.feature-language{
    padding: 15px 15px;
    border: none;
    border-radius: 50px;
    margin-right: 15px;
    background-color: #ededed;
    color: #212121;
    font-size: 14px;
    font-weight: 200;
}
.feature-language:hover{
    text-decoration: underline;
}
.feature-active{
    color: white;
    background-color: #1285f8;
    padding: 15px 30px;
    transition: all 100ms ease-in-out;
}
.feature-active:hover{
    text-decoration: none;
    background-color: #1285f880;
}
.news-event-container{
    width: 100%;
    padding: 100px 0;
    background-color: rgb(238, 238, 238);
}
.news-event-content{
    max-width: 1276px;
    width: 100%;
    margin: 0 auto;
    color: #212121;
}
.news-event-top{
    font-weight: 500;
    margin-bottom: 50px;
}
.news-event-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.news-event-date{
    font-weight: 200;
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 15px;
}
.news-event-heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 18px;
}
.news-event-article{
    font-weight: 200;
    font-size: 14px;
    line-height: 25px;
    opacity: 0.9;
    margin-bottom: 18px;
}
.news-event-link{
    color: #1285f8;
    font-weight: 200;
}
.news-event-link:hover{
    text-decoration: underline;
}

